@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l4t5f5');
  src:  url('fonts/icomoon.eot?l4t5f5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l4t5f5') format('truetype'),
    url('fonts/icomoon.woff?l4t5f5') format('woff'),
    url('fonts/icomoon.svg?l4t5f5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-library:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-star-empty:before {
  content: "\2606";
}
.icon-star-half:before {
  content: "\272e";
}
.icon-star-full:before {
  content: "\2605";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vine:before {
  content: "\ea97";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-renren:before {
  content: "\ea99";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-lanyrd:before {
  content: "\eaa2";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-deviantart:before {
  content: "\eaaa";
}
.icon-500px:before {
  content: "\eaab";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-github:before {
  content: "\eab0";
}
.icon-npm:before {
  content: "\eab1";
}
.icon-basecamp:before {
  content: "\eab2";
}
.icon-trello:before {
  content: "\eab3";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-joomla:before {
  content: "\eab5";
}
.icon-ello:before {
  content: "\eab6";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-yahoo:before {
  content: "\eabb";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-hackernews:before {
  content: "\eac7";
}
.icon-wikipedia:before {
  content: "\eac8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-lastfm:before {
  content: "\eacb";
}
.icon-delicious:before {
  content: "\eacd";
}
.icon-stumbleupon:before {
  content: "\eace";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-xing2:before {
  content: "\ead4";
}
.icon-flattr:before {
  content: "\ead5";
}
.icon-foursquare:before {
  content: "\ead6";
}
.icon-yelp:before {
  content: "\ead7";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-spinner11:before {
  content: "\21bb";
}
.icon-cog:before {
  content: "\e994";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-menu:before {
  content: "\2630";
}
.icon-arrow-right2:before {
  content: "\2192";
}
.icon-arrow-left2:before {
  content: "\2190";
}
.icon-home3:before {
  content: "\e902";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-search:before {
  content: "\e986";
}
.icon-key:before {
  content: "\e98d";
}


@font-face {font-family: "icomoon";
  src: url('fonts/iconfont.eot?t=1565617052519'); /* IE9 */
  src: url('fonts/iconfont.eot?t=1565617052519#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAk0AAsAAAAAD2wAAAjmAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCEGAqQSI1sATYCJAMoCxYABCAFhG0HgQUbLw0jEXZ7sDKT/VUCL0NkX24GXhpbn+20cGjC8FO9BIyzanwzHhqk+5sqEjwTPP/t1+6b9+brLmJtSSTYxCGKN9Go2qjerZEgFBoJGiVzOrNIpjLD06n/LhfepU7cpvDAdFRS/V27oMaMu83J5rDQEEzQYbB/AwSw5U7zL57Naa4BW0AEUBZ82sUndxzZlpdysvILlcEYTJx2vv1mxSVaw49EKNR4hx+Hy0w8xJW4kES8ibdP3VvaSo97qDNQM5KKyfTbej0EKOjWBjT5Mb1MhkF+gQEntL9JVopjPXIhCyUtx1qgLMeTuUXuAoD7+O/lF/THBzi8ArrRfNnUDqNPoeeY4vGfFbZUpOtlAXUjUKAOYGrwsTXyAIjYSphiuHEEoI0/3s19Qs+kVCIkh8wwsoHFCNTtkmaistDGmaJWgCd9xH94GTmK4UASgKQC7DN//mpdPoCHIAVIIaiQXSBEAEACIQkgg5AMkEPIBFAIIwEMGlgcB8xi5w6AGuBeQJ8ZezCvCGQzfHg/ISn5PYgsrA+PF+OrEqt8gnz9u3cXCgVxWoFAKl5KXo1fMV0jrpuvhhCTCRhG2QhRThhQPcqgZgqwEJhATDpLssEUC4KYJFkYwOUNIB6BombALrfL38ApKim1isrRhk0IwhiNKEFLhATT3kbqSFJkcUntjBHVUzLEvQWgTWSbLaTOYu16mjFuZkL1dibC0KuRUZazUb0R5eQgOgPC8Znmv8Yt4zo90T4wAqEQc5KHiQFi2hACUB3C8nGtV/JqvKWPnmXdfl788GkmScOmWna0r21pRW8IxbkpPfXYyNCGXbXKxmMxNoQ2rouzOKPX8kfYKKvbG+uCVtNDbIh+G21YR8osTrF4bayZukoBXGRxlA6wuqSr6U7jSdpAM0Zmnc8kdVmnyDDnxoNnY83S00xkzaZD+6L0FpsEsttdVjEOLBbdGq/CBtWuR10eOQ4c7mlmitopXuuhdeXWeorCSbJO5HCzjaMsO0jSRNO7JOu83uHrNNA0wTCN0tr18EWx9t0MYzSR6h0nzuw5sGFLU3AdiVMh9c1bNx7ce/Zkwk7KzHTdffr8/sObt68ObWQIWtXQsu0ctedOddl1aRqFZmdoOkNgQ4KKB5FkueOA6RBx2Hxw2o0nBY/TnWKG0XQntLfFujPhEm0cRD/W7z7fuu6I2nw+tu4KfBjMHH0oBfAbOpPNBvHhENGHYSAiffuregy36JRpkM1LR5H6KwCn9O5gcgCttazdKw6xevae7AqAhU4xSehb00xeYr3Zg7uFCS7cMGpDzhjFQ7SNzEa9dS1kuMxMXddH39lSbPbUuQdmC81i1XWZDXQWZ6yRQtEGSKEE/DjenePQ2fPKFUC4PT5O3OvklJOg+8ZMeIxXYGT3KptXPn3Rgkkn8xeVaIMTs6NHnNoEQKcOUznofJ+pd2Tnbvn5VQjyKDx/CQ/1IGYBNlDiG1GljwOJQ+5wk1iHWYmckvDIXRzuALIfR1aaMCg3MjhLkZ8wMkv+eee1/h39+hWzTFCG7/l0FH5ZKK8MHKsZWYiFKT91XGkb3j8wXP/28J0AP83WJQ2fVvoMDBHs/JMWlm3K3hy9vCdndJIiKUTHAc3Bl49+x1vOezf69ZL5NfPHguLq8qzW/eBmU3r7FwHFjsCaeYvZeO8Q8L9Ezp0wgRv45AoCZ/7zwdziD/sPfCjiwoInk4RTPmCJQo28sIu1pW1ZuOliy9SAiQGivum5PTU8S4WKf2kPpv7ejzMIWmR8Mr4qZ1cHdXRYZBxbqZIVJqQICAEN3Sgb3I+9RstZFnLyegesKHqQcmDwwBgfZWjq98dbE7Me8SsL+JrJwo164X+coStmTvZncu7QldSKj31gGJqqGDXOv4mHnUhPS5XlFn5Y4Tdt9B4pi78f7JVAEH9fBhbxPUgg8W1J5NMIFiy6AMLgqCIt0MJnT3K3epSFKRtYGijxuIDRYRtSCpU1WyUnzmphLTie2E87IfcqC3hawAYqz1buyZcozC5OBh3H7GddcF4I2ycLAsmnQHKQdH/YBed5eD3RMRmc6rOG93sOhJ3ja3nnww4MKfoxirVqFWsUhyEKpuRdNmmgggIIfBoJgVeiJHevIFwdoA5UR4Du2/JgnwSMLaziNXbt3ymV52o7IBFkaqZmDJTqy6G0H9PAzrau2CEa3ZnpqxC5N2ByVfnCjR8WkqHh/WYRPcGkCuzgwoUHsSsCRjCr9ArXMcTRmT+Bx4Ygord3bNCY2bnGWX0VQ7b2l3w+07hsmeuYRnFUqRH3G2XMHUWME91x6ESBfbLlZapuS6lkM8sxsIQDR6TzMLv6EB9EtJHcbXunzZ22dyOlF9te4E988XkyPOfo9lXoFd96+NoueFHc2rDq4wvmQtlJYcO6QZFiacaBATN6Qruwu23vbpnU3LlCclcof36bu9yJwi1y06tta1m74U/X2Y3AkLZqiFo1KbDtuYlYqiLd1x4HWx6e8sArOD0CgLhfL8KaC+IsjVU8UvMCg+BZ8ca4Ab2G+Eo/azLDK9rwZGifYXsVv29tx+v3nL651x8f/S9r+Jh0U4c7/k//37bXpACyH2NR4C6V2ROJp22v44FEYZbbT8b/4yWVOcLA2zo9KXiSQcSVOgsgYrnNvbWDnaNdt8NgZ65zpNR0SkYP3dh1nadkQJeQMaIr6KM5uaTdWKCICQD0msd0QovNOkcT71jb2BexAfuuztPlrS8BcbCu4GBDL+dExURPr4JGcYH5BGS5OpHSp2TgF/otG0GPvNsfSiOuMHaD1/GJFWWNA9reT6oOnHCBD7YP5sywCke02gVoX3d97/QDO8vl4slAAhkami7A7GRLLFa51dVT7fe/IG+TGdIzo237B4mG1g5GnWEE/ZPUUTOeZXiz500Usw744wUrwAdmUeatDKztW0XIUp0wo3m10+NKbizp9g+Wb9vz7zcLVdxTqbSxbMf1/OCPasKF6l0y3me8PQcK24MzFmfmdHdAmnl8pNrUeDHlRvVwuPakz61NR6qeRfQcgpZg+OICAA==') format('woff2'),
  url('fonts/iconfont.woff?t=1565617052519') format('woff'),
  url('fonts/iconfont.ttf?t=1565617052519') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('fonts/iconfont.svg?t=1565617052519#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "icomoon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e61e";
}

.icon-kaggle:before {
  content: "\e750";
}

.icon-zhihu:before {
  content: "\e659";
}

.icon-facebook:before {
  content: "\e66e";
}

.icon-weibo:before {
  content: "\e501";
}

.icon-instagram:before {
  content: "\e622";
}

.icon-twitter:before {
  content: "\e617";
}

.icon-github:before {
  content: "\e64a";
}

.icon-weixingongzhonghao:before {
  content: "\e64b";
}

