{% assign post = include.post %}
{% assign format = default:site.data.strings.date_formats.related_post | include.format | default:"%d %b %Y" %}

<li>
  <a href="{{ post.url | relative_url }}" class="h4 flip-title"><span>{{ post.title }}_list2</span></a>
  <time class="heading faded fine" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:format }}</time>
</li>


<li>
  <h2>{{ post.title }}</h2>
  <div style="display: flex;">
    <div style="width: 30%; display:block;">
      <div><img src="/assets/img/galaxy.jpeg" style="box-shadow: 4px 4px 8px #888;"></div>
      <div><time class="heading faded fine" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:format }}</time></div>
    </div>
    <div style="width: 70%;">
      <p>{{post.description}}</p>
    </div>
  </div>
</li>